.container {
  background-color : #aaa;
  border : 1px solid black;
  margin : 0 auto;
  width : 500px;
}

.floater {
  background-color : tomato;
  border: 1px solid;
  font-size : 25px;
  height : 200px;
  width : 200px;
}


.left {
  background-color : green;
  color : white;
  float : left;
}

.right {
  background-color: blue;
  color : white;
  float : right;
}

.clear {
 clear : both;
}

/* Gallagher Micro ClearFix*/
.cf { zoom: 1; }
.cf:before,
.cf:after { content: ""; display: table; }
.cf:after { clear: both; }