.fred {
  font-family: 'Fredericka the Great', cursive;
  font-size : 4em;
}

.cabin {
  font-family: 'Cabin Sketch', cursive;
  font-size : 2.5em;
}

.beans {
  font-family: 'Frijole', cursive;
  font-size : 2em;
}
